 body{
    background-color: #E6E6FA;
    color: black;
    font-family: "Playpen Sans", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
 }

 button{
   background-color: #A699FF;
   color: black;
   font-family: "Playpen Sans", cursive;
 }

 .passo{
     display: none;
 }

 .passo.ativo{
    display: block;
 }