 body{
    background-color: #E6E6FA;
    color: black;
    font-family:"Send Flowers", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
 }

 button{
   background-color: #836FFF;
   color: rgb(0, 0, 0);
   font-family:"Send Flowers", cursive;
 }