 body{
    background-color: #E6E6FA;
    color: black;
    font-family: "Playpen Sans", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
 }

 button{
   background-color: #a699ff;
   color: rgb(0, 0, 0);
   font-family: "Playpen Sans", cursive;
 }